# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [20]:
DROP TABLE IF EXISTS JunkDB_STL_March2022.katy.planned_makes
CREATE TABLE katy.planned_makes (
    project_id INT PRIMARY KEY IDENTITY (1, 1),
    furniture_type VARCHAR(50) NOT NULL,
    materials_1 VARCHAR(50) NOT NULL,
    materials_2 VARCHAR(50) NOT NULL,
    materials_3 VARCHAR(50),
    customer VARCHAR (50),
    date_needed DATETIME2 NOT NULL
)

Add three rows to your table that are your planned makes.

In [21]:
SET IDENTITY_INSERT JunkDB_STL_March2022.katy.planned_makes ON
INSERT INTO JunkDB_STL_March2022.katy.planned_makes  (project_id, furniture_type, materials_1, materials_2, materials_3, customer, date_needed)
VALUES (1, 'Side Chairs', 'Fabric', 'nails', 'glue', 'me', '2022-12-26')

INSERT INTO JunkDB_STL_March2022.katy.planned_makes  (project_id, furniture_type, materials_1, materials_2, materials_3, customer, date_needed)
VALUES (2, 'Cabinet', 'Wood Glue', 'Filler Putty', 'Paint', 'me', '2022-12-26')

INSERT INTO JunkDB_STL_March2022.katy.planned_makes  (project_id, furniture_type, materials_1, materials_2, materials_3, customer, date_needed)
VALUES (3, 'Trunk to Mobile Bar', 'Fabric', 'wood paneling', 'glue', 'me', '2022-12-26')

SET IDENTITY_INSERT JunkDB_STL_March2022.katy.planned_makes OFF

## Update a Row

Change different values in one of your three rows.

In [22]:
UPDATE JunkDB_STL_March2022.katy.planned_makes
SET date_needed = '2023-12-26'
WHERE project_id = 2

## Delete a Row

Delete one of the rows from your table.

In [23]:
DELETE 
FROM JunkDB_STL_March2022.katy.planned_makes
WHERE project_id = 3

## Drop the Table

While this has been fun, it is time to drop the table!

In [24]:
DROP TABLE IF EXISTS JunkDB_STL_March2022.katy.planned_makes